<body style="background-color: black;">
<h1 style="background-color: gold;"><center>HOLIDAY MANAGEMENT SYSTEM</center></h1>
<p align="left"><a href='/'><button class=grey>Home</button></a></p>
<center>
<form method="post" action="" style="color: white;">
    Holiday Name:<input type="text" name="name"/>
    <br><br>
    Holiday Date:<input type="text" name="date"/>
    <br><br>
    <input type="submit" value="submit">
</form>
<p align="center"><a href=holidayList><button class=black style="background-color: gold">Holiday List</button></a></p>
</center>
</body>