<html>
    <body>
        
        <h1 style="background-color: gold;"><center>HOLIDAY MANAGEMENT SYSTEM</center></h1>
        <p align="right"><a href=holiday><button class=grey>Admin</button></a></p>
        <p align="left"><a href=Employee><button class=grey>View Employees</button></a></p>
        <p align="right"><a href=cal><button class= black style="background-color: teal; color: aliceblue;">Calendar</button></a></p>
        
        <br>
        <h3><center><u>LOGIN</u></center></h3>
        <center>
            <form method="post" action="">
                Employee ID<input type="text" name="eid"/>
                <br><br>
                Password<input type="password" name="password"/>
                <br><br>
                <input type="submit" value="LOGIN">
                
            </form>
            <!-- <form method="GET" action="">
                <input type="submit" value="SignUp" name="signup">
            </form> -->
            <p align="center"><a href=signup><button class=grey>Sign Up</button></a></p>
        </center>
        
        
    </body>
</html>

