<body style="background-color: black;">
    <h1 style="background-color: gold;"><center>LEAVE MANAGEMENT</center></h1>
    <p align="right"><a href=leave_list><button class=black style="background-color: gold">Leave List</button></a></p>
    <!-- <p align="right"><a href='/'><button class=grey>Home</button></a></p> -->
<p align="left"><a href='portal'><button class=grey>Back</button></a></p>
<center>
    <form method="post" action="" style="color: goldenrod; font: bold;">
        Emp ID:<input type="text" name="eid"/>
        <br><br>
        Leave Name:<input type="text" name="name"/>
        <br><br>
        Leave Date:<input type="text" name="date"/>
        <br><br>
        <input type="submit" value="submit">
    </form>
</center>
    
    </body>