<h1 style="background-color: gold;"><center>HOLIDAY MANAGEMENT SYSTEM</center></h1>

<body style="background-color: black;">
    <center>
        
    
            <p><a href='holidayList'><button class=grey>Holiday List</button></a></p>
            <br>
    
            <p><a href='leave'><button class=grey>Apply Leave</button></a></p>
            <br>
    
            <p><a href='leave_list'><button class=grey>View Leave</button></a></p>
            <br>
    
            <p><a href='/'><button class=grey>Sign Out</button></a></p>
            
    </center>
    
</body>

